*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Asap', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.site-header{
    background-color: greenyellow;
    padding: 0;
    margin: 0;
}

.main-content-area h1{
    color:red;
}

.sidebar-right h1{
    background-color: blue;
    color:rgb(248, 8, 8);
}

.sidebar-right p{
    background-color: blue;
    color:white;
}


.site-footer{
    background-color: greenyellow;
    color:red;
    padding: 0;
    margin: 0;
}

.content-area{
    border: 5px solid red;
    background-color: rgb(177, 176, 176);
    overflow: hidden;
}

@media screen and (min-width:1120px){
    .content-area{
        display: flex;
    }

    .main-content-area{
        width:70%;
    }

    .sidebar-right{
        background-color: rgb(101, 155, 2);
        
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 30%;
        
    }

    .articulo-pelicula:nth-child(1),
    .articulo-pelicula:nth-child(2){
            flex-basis: 49%;
        }
    
    
    .articulo-pelicula:nth-child(3),
    .articulo-pelicula:nth-child(4),
    .articulo-pelicula:nth-child(5){
            flex-basis: 32%;
        }
       
    
       .articulo-pelicula:nth-child(6){
        flex-basis: 100%;
       }

       .download-content{
        display: flex;
        flex-grow: 1;
       }
    
       .download-info{
       }

       .download-rating{
        font-size: 12px;
        text-align:center;
         }

}

    

/*Star the header style*/
.site-header{
    height: 350px;
    display: flex;
    flex-flow: column;
}

.site-info{
    background-color: black;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
}

.site-info h1{
    color:white;
    display:block;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 4rem;
    /*padding-bottom: 0.5rem;*/
    font-size: 50px;

}

.site-info p{
    display:block;
    font-weight: lighter;
    color:#f7d002;
    /*padding-bottom: 5rem;*/
}

.main-menu{
    background-color: #f7d002;
    padding: 1rem;
}

/*End the header style*/

/*Star content area style*/
.main-content-area{
    padding: 2em;
    border: 5px solid black;
    position: relative;
}

.section-peliculas{
    position: relative;
    border: 5px solid rgb(132, 134, 4);
}

.articulo-pelicula{
    margin-bottom: 2em;
    background-color: white;
    border: 5px solid rgb(243, 26, 26);
    position: relative;
    
}

.clic-pelicula{
    text-decoration: none;

}

.imagen-pelicula img{
    width: 100%;
}

.clic-pelicula .texto-pelicula h2{
    background-color: #f7d002;
    display:block;
    text-align: center;
    text-transform: capitalize;
    color:black;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

.texto-pelicula p{
    color:black;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*End content area style*/

/*Star flexbox articulos style*/
@media screen and (min-width:810px){
   .section-peliculas{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }

   .articulo-pelicula{
    flex-basis: 49%;
   }

   .watch-card{
    display: flex;
   }

   .img-right{
    order:2;
   }

   .download-content{
    display: flex;
    flex-grow: 1;
   }

   .download-info{
    flex-grow: 1;
   }

 
}
/*End flexbox articulos style*/

/*Inicio Style Que ver Hoy*/
.watch{
    border:5px solid rgb(255, 0, 221);
    position: relative;
    background-color: #f5e4c9;
}

.watch .section-header{
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 25px;
    color:black;
    font-weight: bold;
    background-color:#f5e4c9;
}

.watch-card{
   
    padding-bottom: 2em;
    width:100%;
    border:5px solid rgb(17, 0, 255);
}

.watch-img{
    position: relative;
}

.watch-img img{
    position: relative;
    width:100%;
    height: 100%;
}



.watch-content{
    position: relative;
    width: 100%;
    background-color: black;
    padding: 2em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
}

.watch-card .watch-content h2{
    display: block;
    font-size: 25px;
    font-weight: bolder;
    color:white;
    padding-top: 2em;
}

.movie-info{
    color:white;
    margin-top: 0.5em;
}

.movie-info span{
    color:white;
    margin-top: 0.5em;
    margin-right: 0.2em;
}

.movie-story{
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.movie-info a{
    color:white;
}


/*Fin Style Que ver Hoy*/

/*Inicio Styles Download*/
.download{
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 5px solid blue;
    background-color: white;
}

.download .section-header{
    color:black;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 2em;
    margin-bottom: 1em;
    border: 5px solid blue;
}

.download-card{
    position: relative;
    border: 5px solid rgb(255, 0, 221);
}

.download-img{
    position: relative;
    border: 5px solid rgb(183, 0, 255);
}

.download-img img{
    width:100%;
    height: 100%;
}

.download-content{
    position: relative;
    border: 5px solid rgb(0, 174, 255);
}

.download-content a{
    position: relative;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px 30px;
    font-size: 18px;
    border:5px solid rgb(0, 255, 106);
    
}

.download-content a i{
    font-size: 35px;
}
    


.download-info{
    border:5px solid rgb(145, 255, 0);
}

.download-genre{
    display:flex;
    border:5px solid rgb(255, 251, 0);
}


.download-genre h4{
    color:black;
    font-weight: bolder;
    margin-right: 1em;
    margin-bottom: 1.5em;
}

.download-genre p{
    color:black;
}

.download-cast{
    display: flex;
    flex-flow: row;
    align-items: center;
    border:5px solid rgb(255, 166, 0);
}

.download-cast h4{
    color:black;
    font-weight: bolder;
    margin-right: 1em;
    margin-bottom: 2em;
}

.download-cast img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.download-rating{
    background-color: #f7d002;
    color:black;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 5px 15px;
    border:5px solid rgb(255, 72, 0);
}

.download-rating .rate{
    font-size: 25px;
    font-weight: bold;
}

/*FIN Styles Download*/


/*Inicio Styles Galería*/
.gallery{
    position: relative;
    border: 5px solid blue;
    background-color: white;
}

.gallery .section-header{
    margin-top: 1em;
    color:black;
    font-size: 35px;
    font-weight: bolder;
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

.gallery-imgs{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 5px solid rgb(111, 0, 255);
}

.gallery-img{
    position: relative;
    width:200px;
    height: 180px;
    flex-grow: 1;
    margin: 0px 0px 8px 8px;
}

.gallery-img a{
    position: relative;
}

.gallery-img a img{
    width:100%;
    height: 100%;
    object-fit: cover;
}




/*Fin Styles Galería*/
